logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.worksheet.sc
.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.scala-build/
.scala/
.vscode/
metals.sbt
target/
.g8/